.navbar {
    background-color: rgba(1, 242, 250, 0.3) !important;
}

.navbar li a{
    color: black !important;
}

.navbar li a :hover{
    color: white !important;
}

.display-2 {
    height: 500px;
    width: 950px;
    color: rgba(0, 0, 0, 0.7) !important;
    text-shadow:  5px 5px 5px ;
}